.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.toplink:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    color:#000000;
}

.heading {
  max-width: 250px;
  margin: 20px auto 0px;
  padding-right: 0px;
  padding-bottom: 12px;
  background-color: #2ecc71;
  font-family: Montserrat, sans-serif;
  font-size: 53px;
  line-height: 57px;
  font-weight: 700;
  text-align: center;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.heading.dashboard {
  margin-left: 10px;
}

.navbar {
  border: 1px none #000;
  background-color: transparent;
}

.navbar-2 {
  border-radius: 0px;
  background-color: transparent;
}

.nav-link {
  margin-right: auto;
  margin-left: auto;
  font-family: Montserrat, sans-serif;
  color: #8d8d8d;
  text-align: center;
}

.nav-link:hover {
  color: #333;
}

.nav-link:focus {
  color: #333;
}

.nav-link.active {
  color: #333;
}

.nav-link-2 {
  margin-left: 356px;
}

.nav-link-3 {
  margin-right: 385px;
  margin-left: 0px;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  font-family: Montserrat, sans-serif;
  color: #8d8d8d;
}

.nav-link-3:hover {
  color: #333;
}

.nav-link-3.active {
  color: #333;
}

.section {
  border: 1px none #000;
}

.image {
  position: relative;
  left: 5%;
  right: 5%;
  margin-left: -37px;
}

.image-2 {
  border-style: solid;
  border-width: 1px;
  border-color: red;
  border-radius: 4px;
}

.section-2 {
  border-radius: 0px;
}

.container {
  margin-top: 25px;
}

.image-3 {
  margin-top: 10px;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.heading-2 {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
}

.container-2 {
  margin-top: 25px;
}

.submit-button {
  margin-top: 20px;
  margin-right: 75%;
  margin-left: 41%;
  font-family: Montserrat, sans-serif;
}

.body {
  margin-right: auto;
  margin-left: auto;
}

.form {
  margin-right: 25%;
  margin-left: 25%;
}

.field-label {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  text-align: center;
}

.field-label-2 {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  text-align: center;
}

.text-field {
  text-align: center;
}

.text-field-2 {
  text-align: center;
}

.form-block {
  margin-top: 20px;
}

.heading-3 {
  font-family: Montserrat, sans-serif;
  font-size: 53px;
  line-height: 57px;
  font-weight: 700;
}

.column {
  height: 92px;
  margin-top: 0px;
}

.column-2 {
  height: 92px;
  margin-top: 10px;
  padding-left: 68px;
}

.text-block {
  margin-top: 8px;
  padding-top: 0px;
  padding-left: 20px;
  font-family: Montserrat, sans-serif;
}

.image-4 {
  position: static;
  right: 5%;
  width: 30%;
  height: 100%;
  margin-top: 0px;
  margin-left: 215px;
}

.body-2 {
  margin-top: 0px;
}

.grid {
  width: 200px;
  height: 100px;
  margin-top: -4px;
  margin-left: 20px;
  padding-bottom: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-flow: column;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
}

.text-block-2 {
  height: 20px;
  max-height: 20px;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
}

.text-block-3 {
  height: 20px;
  margin-top: -15px;
  font-family: Montserrat, sans-serif;
}

.text-block-4 {
  height: 20px;
  max-height: 20px;
  margin-top: -15px;
  font-family: Montserrat, sans-serif;
}

.dropdown-toggle {
  margin-top: 24px;
  margin-left: 31px;
  padding-right: 63px;
  color: #a8a8a8;
}

.dropdown-link {
  background-color: transparent;
  font-family: Montserrat, sans-serif;
  text-align: right;
}

.dropdown-link:hover {
  background-color: #2ecc71;
}

.dropdown-link-2 {
  background-color: transparent;
  font-family: Montserrat, sans-serif;
  text-align: right;
}

.dropdown-link-2:hover {
  background-color: #2ecc71;
}

.dropdown-link-3 {
  background-color: transparent;
  font-family: Montserrat, sans-serif;
  text-align: right;
}

.dropdown-link-3:hover {
  background-color: #2ecc71;
}

.grid-2 {
  margin-right: 10px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto;
}

.nav-menu {
  margin-top: -15px;
}

.grid-3 {
  padding-left: 10px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.heading-4 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 15px;
  padding-left: 22px;
  background-color: #e74c3c;
  font-family: Montserrat, sans-serif;
  line-height: 50px;
}

.field-label-3 {
  margin-left: 0px;
  padding-left: 0px;
  font-family: Montserrat, sans-serif;
  font-size: 20px;
}

.form-2 {
  background-color: #fff;
}

.text-field-3 {
  margin-left: 20px;
  padding-left: 0px;
}

.field-label-4 {
  margin-left: 0px;
  font-family: Montserrat, sans-serif;
  font-size: 20px;
}

.text-field-4 {
  margin-left: 20px;
}

.submit-button-2 {
  margin-top: 10px;
  margin-left: 0px;
  background-color: #e74c3c;
  font-family: Montserrat, sans-serif;
}

.textarea {
  margin-right: 0px;
  margin-left: 0px;
  padding-top: 5px;
  padding-right: 20px;
  padding-left: 15px;
  font-family: Montserrat, sans-serif;
}

.heading-5 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 15px;
  padding-left: 22px;
  background-color: #f1c40f;
  font-family: Montserrat, sans-serif;
  font-size: 38px;
  line-height: 50px;
}

.columns {
  margin-top: 20px;
}

.textarea-2 {
  font-family: Montserrat, sans-serif;
}

.grid-4 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.heading-6 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 15px;
  padding-left: 23px;
  background-color: #25ccf7;
  font-family: Montserrat, sans-serif;
  line-height: 50px;
}

.heading-7 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 15px;
  padding-left: 22px;
  background-color: #e056fd;
  font-family: Montserrat, sans-serif;
  line-height: 50px;
}

.heading-8 {
  margin-top: 0px;
}

.heading-9 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 14px;
  padding-left: 22px;
  background-color: #2ecc71;
  font-family: Montserrat, sans-serif;
  line-height: 50px;
}

.field-label-5 {
  font-family: Montserrat, sans-serif;
  font-size: 20px;
}

.textarea-3 {
  font-family: Montserrat, sans-serif;
}

.form-block-2 {
  height: 100%;
  margin-right: 25%;
  margin-left: 25%;
}

.section-3 {
  margin-top: 25px;
}

.disabled {
  font-family: Montserrat, sans-serif;
}

.submit-button-3 {
  margin-top: 20px;
  background-color: #2ecc71;
  font-family: Montserrat, sans-serif;
}

.radio-button-field {
  margin-top: 15px;
}

.heading-10 {
  margin-top: 60px;
  margin-right: 25%;
  margin-left: 25%;
  background-color: #e74c3c;
  font-family: Montserrat, sans-serif;
  line-height: 50px;
  text-align: center;
}

.field-label-6 {
  font-family: Montserrat, sans-serif;
}

.text-field-5 {
  font-family: Montserrat, sans-serif;
}

.field-label-7 {
  font-family: Montserrat, sans-serif;
}

.text-field-6 {
  position: static;
  font-family: Montserrat, sans-serif;
}

.field-label-8 {
  font-family: Montserrat, sans-serif;
}

.radio-button-label {
  font-family: Montserrat, sans-serif;
}